body {
  margin: 0;
  font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  background-color: #d2daa0;
  background-image: url('assets/bg_body.jpg');
  background-repeat:no-repeat;
  background-position: left top;
  font-size: 12px;
}