.banner {
    margin: 0;
    background-color: #527378;
    width: 100%;
    height: 120px;
	background-image: url(/assets/banner_rev1.png);
	background-position: right top;
	background-repeat:no-repeat;
    background-size: cover;
}